:root {
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --grey-text-color: #bdbdbd;
  --primary-bcg-color: #e7eaf2;
  --secondary-bcg-color: #ffffff;
  --green-color-accent: #24cca7;
  --blue-color-accent: #4a56e2;
  --red-color-accent: #ff6596;
  --light-border-color: #dcdcdf;
  --light-text-color: #a6a6a6;
}
