@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), local('Poppins-Regular'),
    url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), local('Poppins-Bold'),
    url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: local('Circe'), local('Circe-Regular'),
    url('../assets/fonts/Circe-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: local('Circe'), local('Circe-Bold'),
    url('../assets/fonts/Circe-Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
