:root {
  --primery-text-color: #000000;
  --secondary-text-color: #ffffff;
  --primery-bcg-color: #e7eaf2;
  --secondary-bcg-color: #ffffff;
  --green-color-accent: #24cca7;
  --blue-color-accent: #4a56e2;
  --red-color-accent: #ff6596;
}
