.container {
  /* убрала для "отзывчивой верстки" */
  /* max-width: 320px; */
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .container {
    /* убрала для "отзывчивой верстки" */
    /* max-width: 768px; */
    padding: 0 40px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    /* изменила для "отзывчивой верстки" */
    max-width: 1500px;
    padding: 0 85px;
  }
}
