@import '../../../stylesheet/vars.css';

.exitBtn {
  background-color: #fff;
  border: none;
  outline: none;
  padding: 0;
  color: var(--grey-text-color);
  display: flex;
  align-items: center;
}
.exitIcon {
  margin: 0;
  fill: var(--grey-text-color);
}
.exitBtn:hover {
  color: var(--blue-color-accent);
}
.exitBtn:hover .exitIcon {
  fill: var(--blue-color-accent);
}
.closeBtn {
  position: absolute;
  color: var(--primary-text-color);
  border: none;
  border-radius: 100%;
  outline: none;
  display: flex;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  top: -20px;
  right: -25px;
  background-color: transparent;
  padding: 8px;
}
.closeBtn:hover,
.closeBtn:focus {
  transform: rotate(180deg);
}
.title {
  font-family: Segoe UI;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}
.modalWindow {
  position: relative;
}
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .closeBtn {
    top: -30px;
    right: -50px;
    background-color: var(--secondary-text-color);
    padding: 12px;
  }
  .title {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .exitBtn {
    padding: 0 14px;
    border-left: 1px solid var(--grey-text-color);
  }
  .exitIcon {
    margin-right: 10px;
  }
}
