.exitBtn {
  background-color: #fff;
  border: none;
  outline: none;
  color: var(--grey-text-color);
  padding: 0 14px;
  border-left: 1px solid var(--grey-text-color);
  display: flex;
  align-items: center;
}
.exitBtn:hover {
  color: var(--blue-color-accent);
}
.exitBtn:hover .exitIcon {
  fill: var(--blue-color-accent);
}
.exitIcon {
  margin-right: 10px;
  fill: var(--grey-text-color);
}
.exitIconSmall {
  margin: 0;
}
.exitBtnSmall {
  border: none;
  padding: 0;
}
.modalWindow {
  position: relative;
}
.closeBtn {
  position: absolute;
  top: -30px;
  right: -50px;
  background-color: var(--secondary-text-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: 100%;
  outline: none;
  padding: 12px;
  display: flex;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.closeBtn:hover,
.closeBtn:focus {
  transform: rotate(180deg);
}
.closeBtnSmall {
  top: -20px;
  right: -25px;
  background-color: transparent;
  padding: 8px;
}
.title {
  font-family: Segoe UI;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
}
.titleSmall {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}
