@import '../../../stylesheet/vars.css';

.addBtn {
  background-color: var(--green-color-accent);
  color: var(--secondary-text-color);
  box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);
  border: none;
  border-radius: 100%;
  outline: none;
  padding: 12px;
  display: flex;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.addBtn:hover {
  background-color: var(--blue-color-accent);
  box-shadow: 0px 6px 15px rgba(74, 86, 226, 0.5);
}
.modalWindow {
  position: relative;
}
.closeBtn {
  position: absolute;
  top: -30px;
  right: -50px;
  background-color: var(--secondary-text-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: 100%;
  outline: none;
  padding: 12px;
  display: flex;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.closeBtn:hover,
.closeBtn:focus {
  transform: rotate(180deg);
}
.title {
  font-family: Segoe UI;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.switchBox {
  text-align: center;
  margin-bottom: 40px;
}
.switchBtn {
  margin: 0 20px;
  position: relative;
  display: inline-block;
  color: #fff;
}
.switchBtn label {
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  text-align: left;
}
.switchBtn input {
  display: none;
}
.switchBtnIcon {
  cursor: pointer;
  pointer-events: none;
}
.switchBtnIcon:before,
.switchBtnIcon:after {
  content: '';
  position: absolute;
  top: 45%;
  left: 55%;
  transition: 0.2s ease-out;
}
.switchBtnAava label {
  height: 50px;
  line-height: 50px;
  transition: all 0.2s;
  border-radius: 2rem;
}
.switchBtnAava label:before,
.switchBtnAava label:after {
  position: absolute;
  right: 1.5rem;
  transition: all 0.2s 0.1s ease-out;
}
.switchBtnAava label:before {
  content: attr(data-on-text);
}
.switchBtnAava label:after {
  content: attr(data-off-text);
}

.switchBtnAava input[type='checkbox'] + label {
  width: 160px;
  background: var(--red-color-accent);
  box-shadow: 0px 6px 15px rgba(255, 101, 150, 0.5);
}
.switchBtnAava input[type='checkbox'] + label:before {
  opacity: 0;
  transform: translate(0, 20px);
}
.switchBtnAava input[type='checkbox'] + label:after {
  opacity: 1;
  transform: translate(0, 0);
}

.switchBtnAava input[type='checkbox']:checked ~ label {
  width: 160px;
  background: var(--green-color-accent);
  box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);
}
.switchBtnAava input[type='checkbox']:checked ~ label:before {
  opacity: 1;
  transform: translate(0, 0);
}
.switchBtnAava input[type='checkbox']:checked ~ label:after {
  opacity: 0;
  transform: translate(0, -20px);
}

.switchBtnAava input[type='checkbox']:checked ~ .switchBtnIcon:before {
  transform: translate(10%, 20%) rotate(0deg);
  width: 25px;
}

.switchBtnAava input[type='checkbox']:checked ~ .switchBtnIcon:after {
  transform: translate(15%) rotate(-90deg);
  width: 23px;
}

.switchBtnAava .switchBtnIcon {
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  width: 50px;
}
.switchBtnAava .switchBtnIcon:before,
.switchBtnAava .switchBtnIcon:after {
  height: 3px;
  border-radius: 3px;
  background: #fff;
}
.switchBtnAava .switchBtnIcon:before {
  width: 25px;
  transform: rotate(0deg);
}
.switchBtnAava .switchBtnIcon:after {
  width: 25px;
  transform: rotate(0deg);
}

.input {
  width: 100%;
}

.comment {
  width: 100%;
}
.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767px) {
  .contentForm {
    padding: 0 10px;
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .title {
    font-size: 30px;
    margin-top: 0;
  }
  .comment {
    margin-bottom: 50px;
  }
  .rowInputs {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .rowInputs .input:first-of-type {
    margin-right: 30px;
  }
  .rowInputs .input {
    margin-bottom: 8px;
  }
}
