.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-text-color);
}
.title {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
}
.titleSmall {
  font-size: 20px;
  margin-left: 15px;
}
