@import '../stylesheet/vars.css';

@media (max-width: 767px) {
  .container {
    width: 320px;
    margin: auto;
  }
  .appName {
    visibility: hidden;
    opacity: 0;
  }
  .img {
    display: none;
  }
}

.img {
  width: 260px;
  height: 250px;
  background-image: url('../images/frame.png');
  background-position: center;
  background-size: 260px 250px;
  background-repeat: no-repeat;
}

@media (min-width: 768px) and (max-width: 1277px) {
  .container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    background-color: #e5e5e5;
    background-image: url('../images/UpperPart.png'),
      url('../images/LowerPart.png');
    background-position: 100% 0, 0 100%;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
  }

  .imgWrapper {
    display: flex;
    margin: 60px auto 0 auto;
    width: 540px;
  }

  .appName {
    display: block;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
  }
}
@media (min-width: 1278px) {
  .container {
    width: 1280px;
    height: 720px;
    margin: auto;
  }
  .containerBg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;

    background-color: #e5e5e5;

    background-image: url('../images/UpperPart.png'),
      url('../images/LowerPart.png');
    background-position: 100% 0, 0 100%;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
  }

  .imgWrapper {
    margin: auto;
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 435px 420px;
  }
  .img {
    width: 435px;
    height: 420px;
    background-size: 435px 420px;
    background-repeat: no-repeat;
  }

  .formWrapper {
    display: flex;
    align-items: center;
    background-image: url('../images/backgraund.jpg');
    background-size: cover;
    width: 60vw;
  }
  .appName {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.5;
    margin-top: 28px;
    text-align: center;
  }
}
