.chartWrapper {
  position: relative;
  width: 280px;
  height: 280px;
  margin: 0 auto;
}
.balance {
  position: absolute;
  font-weight: 700;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

@media screen and (min-width: 768px) {
  .chartWrapper {
    width: 320px;
    height: 320px;
    margin: 0;
  }
}
