.chartWrapper {
  position: relative;
  width: 280px;
  height: 280px;
}
.balance {
  position: absolute;
  margin: auto;
  /* top: 50%;
  right: 50%;
  transform: translate(-50%, -50%); */
}

@media screen and (min-width: 768px) {
  .chartWrapper {
    width: 320px;
    height: 320px;
  }
}
