@import '../../stylesheet/vars.css';

.wrapper {
  font-family: 'Circe';
}

.head {
  font-family: 'Segoe UI';
  font-size: 30px;
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1279px) {
  .wrapper {
    margin-left: 30px;
  }
  .head {
    margin-left: 30px;
  }
}
