@import '../../stylesheet/vars.css';

.boxTable {
  background: url('./BcgCurrency.png'),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) -7.46%,
      rgba(255, 255, 255, 0) 100%
    ),
    var(--blue-color-accent);
  animation: bg-animation 25s ease-in-out infinite;
  color: var(--secondary-text-color);
  background-repeat: no-repeat;
  background-position: bottom;
  display: inline-block;
  border-radius: 30px;
  overflow: hidden;
  height: 174px;
  text-align: center;
}
.boxTableLarge {
  height: 348px;
}
.table {
  border-collapse: collapse;
}
.table thead {
  background-color: rgba(255, 255, 255, 0.2);
  font-family: Circe;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
}
.table th,
.table td {
  padding: 11px 13px;
}
.tableMedium th,
.tableMedium td {
  padding: 11px 22px;
}
.tableLarge th,
.tableLarge td {
  padding: 16px 24px;
}

@keyframes bg-animation {
  0% {
    background-size: 120%;
    background-position: 50% 50%;
  }
  20% {
    background-size: 150%;
    background-position: 0 50%;
  }
  40% {
    background-size: 110%;
    background-position: 20% 80%;
  }
  60% {
    background-size: 160%;
    background-position: 60% 10%;
  }
  80% {
    background-size: 120%;
    background-position: 40% 70%;
  }
  100% {
    background-size: 120%;
    background-position: 50% 50%;
  }
}
