@import '../../stylesheet/vars.css';

/*mobile styles*/

.tabWrapper {
  width: 280px;
  font-size: 16px;
  color: var(--primary-text-color);
  margin: 0 auto;
}

/*table header*/

.tableHeader {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  width: 100%;
  height: 58px;
  background-color: var(--secondary-bcg-color);
  border-radius: 30px;
  font-weight: 700;
  font-size: 18px;
}
.marker {
  width: 24px;
  height: 24px;
}
.headerCategory {
  display: inline-block;
}
.headerAmount {
  display: inline-block;
  margin-left: auto;
}

/*table body*/

.costsList {
  padding: 0;
  margin: 0;
  text-align: left;
}
.costItem {
  width: 100%;
  height: 54px;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-bottom: solid 1px;
  border-bottom-color: var(--light-border-color);
  list-style-type: none;
  font-weight: 400;
}
.costItem:not(:first-child) {
  border-top: solid 1px #ffffff;
}
.costCategory {
  display: inline-block;
  width: 120px;
  margin-left: 16px;
}

.costAmount {
  display: inline-block;
  margin-left: auto;
}

/*/*table total*/

.total {
  margin: 0;
  padding: 15px 20px;
  list-style: none;
  border-top: solid 1px #ffffff;
}
.totalItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 700;
}
.totalItem:not(:first-child) {
  margin-top: 10px;
}
.totalCredits {
  display: inline-block;
}
.totalCredits {
  color: var(--red-color-accent);
}
.totalDebits {
  color: var(--green-color-accent);
}

/*tablet and desktop styles */

@media screen and (min-width: 768px) {
  .selectorsWrapper {
    display: flex;
    justify-content: space-between;
  }
  .tabWrapper {
    width: 350px;
    margin: 0 0 0 35px;
  }
}
@media screen and (min-width: 1278px) {
  .costsList {
    max-height: 319px;
    overflow-y: scroll;
  }
  .costsList::-webkit-scrollbar {
    width: 3px;
  }
  .costsList::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: var(--grey-text-color);
  }
}
