@import '../../stylesheet//vars.css';

.header {
  padding: 20px 85px;
}
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primery-text-color);
}
.logo h1 {
  margin: 0;
  margin-left: 20px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
}
