@import '../../stylesheet/vars.css';

.header {
  background-color: var(--secondary-bcg-color);
  padding-top: 15px;
  padding-bottom: 15px;
}
.headerBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.exitBox {
  display: flex;
  align-items: center;
  font-family: Circe;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--grey-text-color);
}
.name {
  margin: 0;
  margin-right: 14px;
  padding: 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
/* @media (min-width: 1280px) {
  .header {
    padding: 20px 85px;
  }
} */
